
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chechelot</title>
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/inicio.css">
     <link rel="shortcut icon" type="image/webp" href="./assets/media/img/logoChechelot.webp">
</head>
<body>
    <div class="App">
        <h1>Bienvenido a Exoplanets</h1>
        <div class="logo">
            <img src="./assets/media/img/logoChechelot.webp" alt="Logo">
            <button id="btnInicio">Comenzar Juego</button>
        </div>
    </div>
    <script src="./dynamics/JS/main.js"></script>
    <script src="./dynamics/JS/inicio.js"></script>
</body>
</html>