<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveles</title>
    <link rel="shortcut icon" type="image/webp" href="../assets/media/img/logoChechelot.webp">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/niveles.css">
</head>
<body>
    <div class="App">
        <div class="contenedor">
            <div class="cohete">
                <canvas id="canvas"></canvas>
            </div>
            <div class="niveles">
                <h1>Niveles</h1>
                <div class="mundos">
                </div>
            </div>
        </div>
    </div>
    <script src="../dynamics/JS/niveles.js"></script>
    <script src="../dynamics/JS/main.js"></script>
</body>
</html>