<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador Cabina</title>
    <link rel="shortcut icon" type="image/webp" href="../assets/media/img/logoChechelot.webp">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/simulador.css">
</head>
<body>
    <div class="game">
        <div class="contenedorCabina">
            <img src="../assets/media/img/cabina.png" alt="Cabina">
        </div>
        <div class="campoEspacio"></div>
        <span class="ayuda">?</span>
        <div class="tooltip">Visita todos los exoplanetas</div>
    </div>
    <script src="../dynamics/JS/simulador.js"></script>
    <script src="../dynamics/JS/main.js"></script>
</body>
</html>